<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <h1> VALENDO: {{valor}} </h1>
</ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero1()">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero3()">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero6()">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero9()">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero12()">12</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <br>



    <ion-row>
      <ion-col>
        <h3>TIME 1</h3>
      </ion-col>
      <ion-col>
        <h3>TIME 2</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="bt1" color="dark" (click)="adicionarSoma1()">+ </ion-button>
      </ion-col>

      <ion-col>
        <ion-button class="bt1" color="dark" (click)="adicionarSoma2()">+</ion-button>
      </ion-col>
    </ion-row>
    <br>

  <ion-row>
    <ion-col>
      <h3>{{pont1}}</h3>
    </ion-col>
    <ion-col>
      <h3>{{pont2}}</h3>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="bt1" color="dark" (click)="subt1()">-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="bt1" color="dark" (click)="subt2()">-</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>



  <br>

  <H1>PARTIDAS:</H1>

<ion-card>

  <ion-row>
    <ion-col>
      <h3>TIME 1</h3>
    </ion-col>

    <ion-col>
      <h3>{{vit1}}</h3>
    </ion-col>
  </ion-row>


  <br>
  <ion-row>
    <ion-col>
      <h3>TIME 2</h3>
    </ion-col>

    <ion-col>
      <h3>{{vit2}}</h3>
    </ion-col>
  </ion-row>
</ion-card>


<br>
  <ion-button expand="block" color="dark" (click)="limpar()">LIMPAR</ion-button>

</ion-content>



