<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>VALENDO: </h1>



  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="full">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" expand="full">1</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <br>

    <ion-row>TIME 1</ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" shape="round">+</ion-button>
      </ion-col>


      <ion-col>
        <ion-button color="danger" shape="round">+</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-button color="danger" shape="round">-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="danger" shape="round">-</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <br>

  <H1>PARTIDAS</H1>

  <br>

  <H2>TIME 1</H2>

  <Br>

  <H2>TIME 2</H2>

</ion-content>



<ion-footer>
  <ion-toolbar color="dark" class="btn">
    <ion-title class="ion-text-center">
      LIMPAR!
    </ion-title>
  </ion-toolbar>
</ion-footer>
