<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <h1> VALENDO: </h1>



  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="dark" expand="full" (click)="exibirNumero()">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" expand="full">12</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <br>

    <ion-row>
      <ion-col>
        <h3>TIME 1</h3>
      </ion-col>
      <ion-col>
        <h3>TIME 2</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="bt1" color="dark" >+</ion-button>
      </ion-col>

      <ion-col>
        <ion-button class="bt1" color="dark" >+</ion-button>
      </ion-col>
    </ion-row>
    <br>

  <ion-row>
    <ion-col>
      <h3>0</h3>
    </ion-col>
    <ion-col>
      <h3>0</h3>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <ion-button class="bt1" color="dark" >-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="bt1" color="dark">-</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>


  <br>

  <H1>PARTIDAS:</H1>

<ion-card>

  <ion-row>
    <ion-col>
      <h3>TIME 1</h3>
    </ion-col>

    <ion-col>
      <h3>0</h3>
    </ion-col>
  </ion-row>


  <br>
  <ion-row>
    <ion-col>
      <h3>TIME 2</h3>
    </ion-col>

    <ion-col>
      <h3>0</h3>
    </ion-col>
  </ion-row>
</ion-card>


<br>
  <ion-button expand="block" color="dark">LIMPAR</ion-button>

</ion-content>



